<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @cliente.email %>
</p>

<p>
  <strong>Nome:</strong>
  <%= @cliente.nome %>
</p>

<p>
  <strong>Sobrenome:</strong>
  <%= @cliente.sobrenome %>
</p>

<p>
  <strong>Tel:</strong>
  <%= @cliente.tel %>
</p>

<p>
  <strong>Endereco:</strong>
  <%= @cliente.endereco %>
</p>

<h2>Dogs</h2>
<% for dog in @cliente.dogs %>
    <ul>
      <li><%= dog.nome %></li>
  </ul>
<% end %>

<%= link_to 'Edit', edit_cliente_path(@cliente) %> |
<%= link_to 'Edit Dogs', cliente_dogs_path(@cliente) %> |
<%= link_to 'Back', welcome_index_path %>
