<p id="notice"><%= notice %></p>

<h1>Dogs</h1>

<table>
  <thead>
    <tr>
      <th>Cliente</th>
      <th>Nome</th>
      <th>Raca</th>
      <th>Genero</th>
      <th>Idade</th>
      <th>Porte</th>
      <th>Castrado</th>
      <th>Vacinado contra Raiva?</th>
      <th>Vacinas v8/v10?</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dogs.each do |dog| %>
      <tr>
        <td><%= dog.cliente_id %></td>
        <td><%= dog.nome %></td>
        <td><%= dog.raca %></td>
        <td><%= dog.genero %></td>
        <td><%= dog.idade %></td>
        <td><%= dog.porte %></td>
        <td><%= dog.castrado ? "Sim" : "Não" %></td>
        <td><%= dog.raiva ? "Sim" : "Não" %></td>
        <td><%= dog.vacinas ? "Sim" : "Não" %></td>
        <td><%= link_to 'Show', [@cliente, dog] %></td>
        <td><%= link_to 'Edit', edit_cliente_dog_path(@cliente, dog) %></td>
        <td><%= link_to 'Destroy', [@cliente, dog], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dog', new_cliente_dog_path(@cliente) %>
<br><br>
<td><%= link_to 'Show Client', [@cliente] %></td>
