<p id="notice"><%= notice %></p>

<p>
  <strong>Cliente:</strong>
  <%= @dog.cliente.nome %>
</p>

<p>
  <strong>Nome:</strong>
  <%= @dog.nome %>
</p>

<p>
  <strong>Raca:</strong>
  <%= @dog.raca %>
</p>

<p>
  <strong>Genero:</strong>
  <%= @dog.genero %>
</p>

<p>
  <strong>Idade:</strong>
  <%= @dog.idade %>
</p>

<p>
  <strong>Porte:</strong>
  <%= @dog.porte %>
</p>

<p>
  <strong>Castrado:</strong>
  <%= @dog.castrado %>
</p>

<p>
  <strong>Raiva:</strong>
  <%= @dog.raiva %>
</p>

<p>
  <strong>Vacinas:</strong>
  <%= @dog.vacinas %>
</p>

<%= link_to 'Edit', edit_cliente_dog_path(@cliente, @dog) %> |
<%= link_to 'Back', cliente_dogs_path(@cliente) %>
