<p id="notice"><%= notice %></p>

<p>
  <strong>Cliente:</strong>
  <%= @dog.cliente.nome %>
</p>

<p>
  <strong>Nome:</strong>
  <%= @dog.nome %>
</p>

<p>
  <strong>Raça:</strong>
  <%= @dog.raca %>
</p>

<p>
  <strong>Genero:</strong>
  <%= @dog.genero %>
</p>

<p>
  <strong>Idade:</strong>
  <%= @dog.idade %>
</p>

<p>
  <strong>Porte:</strong>
  <%= @dog.porte %>
</p>

<p>
  <strong>Castrado:</strong>
  <%= @dog.castrado ? "Sim" : "Não" %>
</p>

<p>
  <strong>Vacinado contra Raiva?:</strong>
  <%= @dog.raiva ? "Sim" : "Não" %>
</p>

<p>
  <strong>Vacinas v8/v10?:</strong>
  <%= @dog.vacinas ? "Sim" : "Não" %>
</p>

<%= link_to 'Editar', edit_cliente_dog_path(@cliente, @dog) %> |
<%= link_to 'Voltar', cliente_dogs_path(@cliente) %>
<br><br>
<td><%= link_to 'Pagina Incial', welcome_index_path %></td>

