<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @dog.nome %>
</p>

<p>
  <strong>Raca:</strong>
  <%= @dog.raca %>
</p>

<%= link_to 'Edit', edit_dog_path(@dog) %> |
<%= link_to 'Back', dogs_path %>
