<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @dog.name %>
</p>

<p>
  <strong>Raca:</strong>
  <%= @dog.raca %>
</p>

<p>
  <strong>Cliente:</strong>
  <%= @dog.cliente_id %>
</p>

<%= link_to 'Edit', edit_cliente_dog_path(@cliente, @dog) %> |
<%= link_to 'Back', cliente_dogs_path(@cliente) %>
