<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @passeadore.email %>
</p>

<p>
  <strong>Nome:</strong>
  <%= @passeadore.nome %>
</p>

<p>
  <strong>Sobrenome:</strong>
  <%= @passeadore.sobrenome %>
</p>

<p>
  <strong>Tel:</strong>
  <%= @passeadore.tel %>
</p>

<p>
  <strong>Bairro:</strong>
  <%= @passeadore.bairro %>
</p>

<p>
  <strong>Preço:</strong>
  <%= @passeadore.preco %>
</p>

<%= link_to 'Editar', edit_passeadore_path(@passeadore) %> |
<%= link_to 'Voltar', welcome_index_path %>
