<h1>Hello, DogHero!</h1>
<td><%= link_to 'Login Administrador', admins_path %></td>
<br>
<td><%= link_to 'Cadastrar novo Cliente', new_cliente_path %></td>
<br>
<td><%= link_to 'Cadastrar novo Passeador', new_passeadore_path %></td>

<%= form_tag(welcome_searchCliente_path, method: 'get') do %>
      <%= text_field_tag(:email, params[:email]) %>
      <%= submit_tag("Email", name: nil) %>
<% end %>
<% flash.each do |message_type, message| %>
<div class="alert alert-<%= message_type %>"><%= message %></div>
<% end %>

<p>Find me in app/views/welcome/index.html.erb</p>