<h1>Hello, DogHero!</h1>
<br>
<td><%= link_to 'Login Administrador', admins_path %></td>
(login admin, pw admin)
<br><br>
<td><%= link_to 'Cadastrar novo Cliente', new_cliente_path %></td>
<br><br>
<td><%= link_to 'Cadastrar novo Passeador', new_passeadore_path %></td>
<br><br>
<%= form_with(url: welcome_searchCliente_path, local: true, method: "get") do %>
  <%= label_tag(:email, "Entrar como Cliente:") %>
  <%= text_field_tag(:email, nil,  placeholder: 'Digite seu email...') %>
  <%= submit_tag("Search") %>
<% end %>

<br>
<% flash.each do |message_type, message| %>
<div class="alert alert-<%= message_type %>"><%= message %></div>
<% end %>
<br>
<%= form_with(url: welcome_searchPasseadore_path, local: true, method: "get") do %>
  <%= label_tag(:pEmail, "Entrar como Passeador:") %>
  <%= text_field_tag(:pEmail, nil, placeholder: 'Digite seu email...') %>
  <%= submit_tag("Search") %>
<% end %>
